<!DOCTYPE html>
<html>
    <head>
        <title>Watchparty-room</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="/static/style/style.css"/>
        <link rel="stylesheet" type="text/css" href="/static/style/menuitem.css"/>
        <link rel="stylesheet" type="text/css" href="/static/style/animations.css"/>
        <link rel="stylesheet" type="text/css" href="/static/style/notifications.css"/>
        <link rel="stylesheet" type="text/css" href="/static/style/inappnavbar.css"/>
        <link rel="stylesheet" type="text/css"href="/static/style/inappnavside.css"/>
        <link rel="stylesheet" type="text/css"href="/static/style/fontsize.css"/>
        <link rel="stylesheet" type="text/css"href="/static/style/modal.css"/>
        <link rel="stylesheet" type="text/css"href="/static/style/progressbar.css"/>
        <link rel="stylesheet" type="text/css"href="/static/style/stylevideo.css"/>
        <link rel="stylesheet" type="text/css"href="/static/style/buttons.css"/>
        <link rel="stylesheet" type="text/css"href="/static/style/customscroll.css"/>
        <link rel="stylesheet" type="text/css"href="/static/style/customvideoplayer.css"/>
        <link rel="icon" type="image/png" sizes="32x32" href="/static/assets/favicon-32x32.png">





  
  
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="/static/javascript/script.js"></script>
        <script src="/static/javascript/preloader.js"></script>
        <script src="/socket.io/socket.io.js"></script>
        <script src="/static/javascript/videochat.js"></script>


    </head>
<body>
    <!-- #region topnavbar-->
    <header  class="header3">
         <div style="width:  90%">
           <a href="/" class="logofont"><strong>Watch</strong><strong style="color: orange;">party</strong></a>
           
           
         </div>
       
      
         <div class="navbarspacer" style="width: 100%;">
           <input style="width: 85%" type="text" placeholder="Search . . ."/>
         </div>
   
   
         <div class="navsettings" style="  width: 100%">
         <div class="settingsdiv">
             <button style="background-color: transparent;" onclick="showsettings()" class=" postbtn  fa fa-bars"></button>
             
           </div>
         
      </div>
    </header>
      <!-- #endregion -->
  <div class="maincontainer flexcontainerlog" >
  
<!-- #region leftcolumn -->

<div style="animation: fadeani 0.75s;" id="tools" class="toolsfont columnvideo leftvideo sidenav">
  <h1 style=" font-size: 1.5em; padding-left: 0.2em; color: gainsboro;">Users</h1>
  <div class="listofusers" id="tools2">
   
</div>
</div>

<!-- #endregion -->

<!-- #region rightcolumn-->
<div   id ="friends" class="friendsfont columnvideo rightvideo">
    <h1 style="color: gainsboro;"><p style="font-size: 00.9em;" class="fa fa-wechat"></p> Chat</h1>
    <div id="chat"  style="height: 70%; color: gainsboro; word-wrap: break-word; padding: 1em; overflow-y: auto;" >
        
    </div>
    <div class="footer2">
        <input on id="sendChat" onkeydown="chatEnter();" class="postinput" type="text" placeholder="Type here..." >
        
    </div>
  </div>
  <!-- #endregion -->

    <!-- #region middlecolumn-->
    <div  id="home" class="columnvideo middlevideo home homefont" >
      <p id="currenthost" class="currenthost">CURRENT HOST: 
        <span class="tooltiptext">User who can use normal video controls in sync with other</span>
      </p>
        <video onkeyup="fullscreenvideo();" onclick="playpause()"  onseeked="seeknative(this);" id="video" width="100%" height="100%" controls>
            <source id="source" src="" type="video/mp4">
          </video>
          <div id="allvideocontrols" class="controlscontainer">
            <div class="controlsnav">
              <p id="owner" style="  color: gainsboro; opacity: 0.5; text-align: left;">Room created by</p>
              
            </div>
            <div class="controlsnav">
              <button onclick="playpause();" class="buttonvideotopleftradius buttonvideo"> PLAY/PAUSE</button>
            </div>
            <div class="controlsnav">
              <button onclick="syncUp();" class="buttonvideo">SYNC</button>
              
            </div>
            <div class="controlsnav">
              <button id="makehostbtn" onclick="makehost();" class="buttonvideotoprighttradius buttonvideo">BE HOST</button>
              
            </div>
            
              

        </div>
     


    </div>
    <!-- #endregion -->

    <!--SETTINGS MODAL-->
    <div tabindex="0" onkeydown="closevideoSettingsModalEsc();" style="animation: fadeani 0.55s;" id="settingsModal" class="modal">
      <div style="height: 80%;"  class="modal-content modalfont">
        <span onclick="closevideoSettingsModal();" class="close">&times;</span>
    
        <h1 style="text-align: center;">SETTINGS</h1>
       
        </div>
      </div>
    </div>
    <!--#endregion-->

    <!--#region mobilebottomnavbar-->
  <!--ONLY FOR MOBILE-->
  <div class = 'footer mobilecontainer' style=" left:0; bottom:0;  height: 4em;">
    <div class="mobilenav">
      <button onclick="openTools();" style=" width: 100%; height: 4em;  border-top-left-radius: 1em;" class="button button2"> Users</button>
    </div>
    <div class="mobilenav">
      <button onclick="openHome();" style=" width: 100%; height: 4em;  " class="button button2">Video</button>
    </div>
    <div class="mobilenav">
      <button onclick="openFriends();" style=" width: 100%; height: 4em;  border-top-right-radius: 1em; " class="button button2">Chat</button>
    </div>
    
  </div>
  <!-- #endregion -->

  <!--Notifications-->
<div class="footer" style="height: auto; display: block;" id="notifytest">

</div>
</body>
</html>
<script>
    localStorage.removeItem("selecteduser");


    
    var video = document.getElementById('video');
    var source = document.getElementById('source');
    path = localStorage.getItem("moviePath");
    console.log(path);
    source.setAttribute('src', path);
    video.load();

   //console.log(path);

    roomowner = localStorage.getItem("roomOwner");
    document.getElementById("owner").innerHTML = "Room created by "+roomowner;
    

    function openTools2(){
      test = document.getElementById("tools").innerHTML;
      console.log(test);
    }
</script>