<!DOCTYPE html>
<html lang="en">

<head>
  <title>NodeJS</title>
  <meta charset="UTF-8">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">

  <link rel="stylesheet" type="text/css" href="/static/style/newstyle.css" />
  <link rel="stylesheet" type="text/css" href="/static/style/menuitem.css" />
  <link rel="stylesheet" type="text/css" href="/static/style/animations.css" />
  <link rel="stylesheet" type="text/css" href="/static/style/notifications.css" />
  <link rel="stylesheet" type="text/css" href="/static/style/inappnavbar.css" />
  <link rel="stylesheet" type="text/css" href="/static/style/inappnavside.css" />
  <link rel="stylesheet" type="text/css" href="/static/style/fontsize.css" />
  <link rel="stylesheet" type="text/css" href="/static/style/modal.css" />
  <link rel="stylesheet" type="text/css" href="/static/style/progressbar.css" />
  <link rel="stylesheet" type="text/css" href="/static/style/buttons.css" />
  <link rel="icon" type="image/png" sizes="32x32" href="/static/assets/favicon-32x32.png">






  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="/static/javascript/script.js"></script>
  <script src="/static/javascript/preloader.js"></script>
  <script src="/socket.io/socket.io.js"></script>

</head>

<body>


  <!--#region The Modal -->
  <div style="animation: fadeani 0.55s; display: block;" id="createModal" class="modal">

    <!-- Modal content -->
    <div class="modal-content modalfont">
      <span onclick="closeModalPassword();" class="close">&times;</span>

      <div id="roomcreatdiv" class="modalroomcreate">
        <h2 style="color: black;" id="forroom">Password for room ........</h2>

        <form method="POST">
          <div>
            <input name="ownerid" id="roomowneridconf" style="color: black;" type="text" placeholder="Room owner"
              value="" readonly><br>
              <div style="margin-top: 1em;">
                <input name="roomid" id="roomnameidconf" style="color: black;" type="text" placeholder="Room name" value=""
                readonly><br>
              </div>
            <div style="margin-top: 1em;">

              <div style="margin-bottom: 10%;">
                <input style="color: black;" type="password" placeholder="Password" name="joinpassword"><br>
                <div style="margin-top: 1em;">

                  <input type="submit" value="Join" style=" background-color: rgba(91, 209, 91, 0.685);color: black; border-radius: 2em;" class="privatepassBtn">
                </div>

              </div>

        </form>
        <p style=" display: none; color: red;" id="errormsg"></p>

      </div>
    </div>

  </div>
  <!--#endregion-->
</body>

</html>

<script>
  var socket = io();
  var name = localStorage.getItem("Username");
  socket.emit("join", {
    username: name,
  });

  roomname = localStorage.getItem("roomName");
  roomowner = localStorage.getItem("roomOwner");
  passworderror = document.getElementById("errormsg");
  errorjoinroom = localStorage.getItem("errorjoinroom");
  if (errorjoinroom == "worngpassword") {
    passworderror.innerHTML = "Password is not valid";
    passworderror.style.display = "block";
    localStorage.removeItem("errorjoinroom");
  }
  document.getElementById("forroom").innerHTML = "Enter password";
  document.getElementById("roomnameidconf").value = roomname;
  document.getElementById("roomowneridconf").value = roomowner;

</script>