<!DOCTYPE html>
<html>
    <head>
        <title>Watchparty</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/static/style/animation.css">
        <link rel="stylesheet" href="/static/style/customscroll.css">
        <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
        <link rel="stylesheet" href="/static/style/loggedstyle.css">
        <link rel="stylesheet" href="/static/style/newstyle.css">
        <link rel="stylesheet" type="text/css"href="/static/style/modal.css"/>

      




  
  
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="/static/javascript/script.js"></script>
        <script src="/static/javascript/preloader.js"></script>
        <script src="/socket.io/socket.io.js"></script>
        <script src="/static/javascript/videochat.js"></script>


    </head>
    <body id="mybody" class="dark-theme" style="overflow-y: auto">
      <header  class="header3">
           <div style="width:  90%">
             <a href="/" class="logofont"><strong>Watch</strong><strong style="color: orange;">party</strong></a>
             
             
           </div>
         
        
     
     
     
           <div class="navsettings" style="  width: 100%">
           <div class="settingsdiv">
               <!--<button onclick="showsettings()" class="postbtn  fa fa-bars"></button>-->
               
             </div>
           
        </div>
         </header>
     <div id="settingcontent" class="settingitems">
                 <button class="btn"  onclick="openFrienRequestModal();">Friend requests</button>
                 <button class="btn" id="modeswitch"  onclick="switchmode()"></button>
                 <button class="btn"  onclick="logOut();">Logout</button>
     
               </div>
     <div class="maincontainer flexcontainerlog" >
     
           <div style="width: 20%" class="maincontainer left">
             <h2 class="customh2log">Users</h2>
             <div id="tools2">

             </div>
           </div>
           <div style="text-align: center;" class="maincontainer middle">

              <p id="currenthost" style="  color: gainsboro; opacity: 0.5; text-align: left;">CURRENT HOST: </p>
             <video onkeyup="fullscreenvideo();" onplay="playnative();"onpause="pausenative();" onseeked="seeknative(this);" id="video" width="100%"  controls>
                 <source id="source" src="" type="video/mp4">
               </video>
             <div id="allvideocontrols">
                   <p id="owner" style="  color: gainsboro; opacity: 0.5; text-align: left;">Room created by</p>
                   
                 
                
                   <button onclick="playpause();" class="buttonvideotopleftradius buttonvideo"> PLAY/PAUSE</button>
               
               
                   <button onclick="syncUp();" class="buttonvideo">SYNC</button>
                   
                
                   <button id="makehostbtn" onclick="makehost();" class="buttonvideotoprighttradius buttonvideo">BE HOST</button>
                   </div>
     </div>
     
              
           <div  style=" width: 18%" class="maincontainer right">
             <h2 style="text-align: center;" class="customh2log ">Chat</h2>
             <div id="chat"  style="height: 70%; color: gainsboro; word-wrap: break-word; padding: 1em; overflow-y: auto;" >
             
                 </div>
         <div class="footer2">
             <input id="sendChat" onkeydown="chatEnter();" class="chatinput" type="text" placeholder="Type here..." >
             
         </div>
           </div>
     </div>
     <!--SETTINGS MODAL-->
    <div tabindex="0" onkeydown="closevideoSettingsModalEsc();" style=" animation: fadeani 0.55s;" id="settingsModal" class="modal">
      <div style="height: 80%;"  class="modal-content modalfont">
        <span onclick="closevideoSettingsModal();" class="close">&times;</span>
    
        <h1 style="text-align: center;">SETTINGS</h1>
       
        </div>
      </div>
    </div>
    <!--#endregion-->
     </body>
</html>
<script>
    localStorage.removeItem("selecteduser");


    
    var video = document.getElementById('video');
    var source = document.getElementById('source');
    path = localStorage.getItem("moviePath");
    console.log(path);
    source.setAttribute('src', path);
    video.load();

   //console.log(path);

    roomowner = localStorage.getItem("roomOwner");
    document.title = "Watchparty | "+roomowner+"'s room"
    document.getElementById("owner").innerHTML = "Room created by "+roomowner;
    

    function openTools2(){
      test = document.getElementById("tools").innerHTML;
      console.log(test);
    }
</script>