<!DOCTYPE html>
<html>
  <head>


      <title>Watchparty</title>
  	  <meta charset="UTF-8">

      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="/static/style/newstyle.css">
      <link rel="stylesheet" href="/static/style/shape.css">
      <!--<link rel="stylesheet" href="../static/style/hamburgermenu.css">-->
      <link rel="stylesheet" href="/static/style/animationnew.css">
      <link rel="stylesheet" href="/static/style/customscroll.css">
	  <link rel="stylesheet" href="/static/style/hamburgermenu.css">
      <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
      <link rel="icon" type="image/png" sizes="32x32" href="/static/assets/favicon-32x32.png">
	  <script src="/static/javascript/hamburgermenu.js"></script>


  </head>
<body style="animation: fadein 1s;">
<!--#Navbar-->
<div class="mainflexview">
	<div class="navbar">
		<div class="logofont">
		  <a style="animation: fadein 0.5s;" href="/" class="logofont"><strong>Watch</strong><strong style="color: orange;">party</strong></a>
		</div>
		<div class="navbarspacer"></div>

	  <div style="text-align: right;">
		  <div class="navbarbuttonsfont">
			  <a style="animation: fadein 0.8s;" class="selected" href="/" >Home</a>
		  </div>

	  </div>
		<div>
			<div class="navbarbuttonsfont" style="width: 95%">
				<a style="animation: fadein 1s;" class="tagafont" href="/login/" >Sign in</a>
			</div>
			<div onclick="menuopen();"  class="navbarbtn" style="width: 2.5em">
				<div class="bar1"></div>
				<div class="bar2"></div>
				<div class="bar3"></div>
			</div>
	  </div>

	</div>
	<div id="menuitems" class="mobilemenu">
		<a style="color: orange;" href="/">Home</a>
		<a href="/login/">Sign in</a>
		<a href="/signup/">Sign up</a>

	
	</div>
	<!--endnavbar-->
	<!--First info-->
	<div class="flexcontainer">
		<div style="animation: fadein 2s;"  class="maincontainer">
			<p style="font-weight: 200; margin-bottom:0em; color: orange; font-size: 20px;" class="tagafont spaceing">IT'S BETTER TO </p>
			<h1 style="font-weight: 100;margin-top: 0em;">Watch movies <br>Together</h1>
		</div>
			<div style="width: 50%;" class="maincontainer logobigpic">
				<div class="triangle-right"></div>

			</div>
		<div style="width: 20%;" class="maincontainer spacer2"></div>
		<div style="width: 50%;" class="maincontainer">
			<div class="pictureframe">
				<div style="width: 75%" class="pictureframe2"></div>
			</div>

		</div>


	</div>
	<!--endfirstinfo-->
	<div  class="buttonview">
		<a href="/signup/" style="text-decoration: none;" class="signupbtn"><strong>Sign up now</strong></a>
		<a href="#about"  class="learnmore">Learn more</a>
	</div>
</div>
<div class="mainflexview mainflexviewbc ">
	<div style="margin-top:1%" class="flexcontainer maincontainer">
		<h2 class="customh2">Features</h2>
	</div>
</div>
	<div class="mainflexview mainflexviewbc2">
	<div>
		<div style="margin-top:1%" class="flexcontainer maincontainer">
		<h2 id="about" class="customh2">About</h2>
		</div>
	</div>
		<div class="flexcontainer maincontainer">
			<div class="aboutcontainer">
				<p class="aboutfont">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita</p>
			</div>
	</div>
</div>
</body>
</html>

