<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/assets/favicon-32x32.png">
    <link rel="stylesheet" href="/static/style//loggedstyle.css">
    <link rel="stylesheet" href="/static/style/newstyle.css">
    <link rel="stylesheet" href="/static/style/customscroll.css">
    <title>Watchparty | {{name}}'s profile</title>
</head>
<body class="dark-theme">
    <header class="header3">
        <div style="width:  90%">
          <a href="/" class="logofont"><strong>Watch</strong><strong style="color: orange;">party</strong></a>
    
    
        </div>
    
    
    
        <div class="navsettings" style="  width: 100%">
          <div class="settingsdiv">
            <!--<button onclick="showsettings()" class="postbtn  fa fa-bars"></button>-->
    
          </div>
    
        </div>
      </header>
    <div class="flexcontainerlog" style="text-align: center;">
        <div>
            <h2 style="font-size: 2em;">To see {{name}}'s profile, then <a href="/login/">login</a></h2>
        </div>
    </div>
</body>
</html>