<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/static/style/animation.css">
	<link rel="stylesheet" href="/static/style/customscroll.css">
	<link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
	<link rel="stylesheet" href="/static/style/loggedstyle.css">
	<link rel="stylesheet" href="/static/style/newstyle2.css">
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js" type="text/javascript"></script>
	
    <title>Home</title>
</head>
<body id="mybody" class="dark-theme" style="overflow-y: auto">
 <header  class="header3">
      <div style="width:  90%">
        <a href="home.html" class="logofont"><strong>Watch</strong><strong style="color: orange;">party</strong></a>
        
        
      </div>
	  
	 
      <div class="navbarspacer" style="width: 100%;">
        <input style="width: 85%" type="text" placeholder="Search . . ."/>
      </div>


      <div style="  width: 100%">
	 	<p style="display: inline">Settings</p>
		 <button onClick="switchmode();" class="postbtn ">Switch</button>
		  
	 </div>
    </header>

<div class="maincontainer flexcontainerlog" >
			<div style="width: 20%" class="maincontainer left">
				<h2 class="customh2log">Home</h2>
				<div  class="maincontainer">
				<button class=" btn2" onclick="openModal();"> Create</button>
				<div style="margin-bottom: 5%;"></div>
				<button class="btn2" onclick="getallfriends();openListFriends();" > Friends</button>
				<div style="margin-bottom: 5%;"></div>
				<button class="btn2" onclick="getallusers();openListPeopleModal();" > Find people</button>
				<div style="margin-bottom: 5%;"></div>
				<button onclick="updateRoomlist();openListModal();" class="btn2 	fa fa-window-restore"> Rooms</button>
				</div>
				<div class="namefooter">
					<a href="">Username</a>
				</div>
			</div>
			<div style="text-align: center;" class="maincontainer middle">
				<div  class="makepostborder maincontainer">
					<div>
						<textarea rows="3"  onkeydown="postunfocus();"  id="postsend" class="postinput maincontainer"  type="text" placeholder="What's on your mind?"></textarea>
						<div style="width: 70%;" class="postline maincontainer"></div>
						<div class="maincontainer" style=" width: 98%; margin-left: 1%;margin-bottom: 2%">
							<button class="postbtn maincontainer">Post</button>
						</div>
					</div>
				</div>
				<div  class="maincontainer postfeed">
					<div class="postborder maincontainer">
						<a class="postName maincontainer" href="#">Name</a>
					<div class="maincontainer" style=" margin-bottom: 5%;">
                  			<div class="limit maincontainer" style="line-height: 2;"><p class="maincontainer">asdasdasdasdasdasdasdasdasdasdasdasdasdasdasdasdasdasdasdasdasdasdasdasdasdasdasdasdasdasd</p>
                  		</div>
					</div>
				</div>
					<div class="postborder maincontainer">
						<a class="postName maincontainer" href="#">Name</a>
					<div class="maincontainer" style=" margin-bottom: 5%;">
                  			<div class="limit maincontainer" style="line-height: 2;"><p class="maincontainer">asdasdasdasdasdasdasdasdasdasdasdasdasdasdasdasdasdasdasdasdasdasdasdasdasdasdasdasdasdasd</p>
                  		</div>
					</div>
				</div>

				</div>

				

				
				
					
			
			</div>
			<div style="width: 20%" class="maincontainer right">
				<h2 style="text-align: center;" class="customh2log">Activity</h2>
				<div style="overflow-y: auto; margin-bottom:40%" class="maincontainer">

					<p style="text-align: center; color: gainsboro; opacity: 0.2;">NO ACTIVITY</p>
					
					<div class="statusitem">
    <a href="">Rainer Piil <br><p class="watchingstatus">Watching <i>Movie name</i></p></a>
</div>
				</div>
			</div>
</div>

</body>
<script> 
	
	function switchmode(){
		mode = document.getElementById("mybody").classList;
		if(mode == "dark-theme"){
			mode.toggle("light-theme")
			mode.remove("dark-theme")
			console.log("valge");
		}
		else if(mode == "light-theme"){
			mode.toggle("dark-theme")
			mode.remove("light-theme")
			
			console.log("must");
		}
	}
</script>
</html>