/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #A4A2B4; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #747282; 
  border-radius: 1em;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

