/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #6E6A6A; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #474747; 
  border-radius: 1em;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
