.toolsfont{
    font-size: large;
}

.homefont{
    font-size:medium;
}

.friendsfont{
    font-size: large;
}

.modalfont{
    font-size: large;
}

.modalinputfont{
    color: black;
}
.modalinputfont{
    font-size: 35px;
}