.alertgood {
  padding: 2px;
  padding-left: 5px;
  font-size: 0.9em;
  text-align: left;
    background-color: rgb(130, 245, 130);
   
    color: rgba(0, 0, 0, 0.76);
  }
  .alertbad{
    padding: 20px;
    background-color: red;
    color: white
  }
  .closebtn {
    margin-left: 15px;
    color: rgba(0, 0, 0, 0.747);
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .closebtn:hover {
    color: white;
  }