<!DOCTYPE html>
<html>
  <head>
      <title>NodeJS</title>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" type="text/css" href="/static/style/style.css"/>
      <link rel="stylesheet" type="text/css" href="/static/style/menuitem.css"/>
      <link rel="stylesheet" type="text/css" href="/static/style/animations.css"/>
      <link rel="stylesheet" type="text/css" href="/static/style/notifications.css"/>
      <link rel="stylesheet" type="text/css"href="/static/style/buttons.css"/>
      <link rel="stylesheet" type="text/css"href="/static/style/customscroll.css"/>
      

      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
      <script src="/static/javascript/script.js"></script>
      <script src="/socket.io/socket.io.js"></script>

  </head>
  <body>
    
    <header style="animation:transitionInhome 0.75s;">
      <div class="container">
       
        <div id="test2"class="dropdown">
          <div class="menucontainer" onclick="menuTab(this)">
            <div class="bar1"></div>
            <div class="bar2"></div>
            <div class="bar3"></div>
          </div>
          <ul id='showitmes' class="dropdown-content fontstyle menuvisible">
            <li><a style="color: gainsboro;" href="/">Home</a></li>
            <li><a style="color: gainsboro;" href="/login/">Login</a></li>
          </ul>
        </div>
        <a href="/"><h1 style="animation: fadeani 0.85s;" class="logo">NodeJS</h1></a>
        <strong>
          
          <nav>
          
          <ul id="test" class="menu">
           
            
            <li><a href="/">Home</a></li>
            <li><a href="/login/">Login</a></li>
          </ul>
        </nav>
      </strong>
      </div>
    </header>

   
    <div style="animation: fadeani 0.75s;" class="container">
     <div class="home">
          <h1>My homepage</h1>
          <p>This is a test website</p>
    
    </div>
  </body>
</html>

<script>
</script>